* {
	background-color: #14192570;
	text-color:       #EFEFEF;
    font: "LiterationMono Nerd Font 10.5";
 
	line-margin:     0;
	line-padding:    0;
	separator-style: "none";
	hide-scrollbar:  "true";
	margin:          0;
	padding:         0;
}

window {
	width: 50ch;
	border: 1px;
	border-color: #2ecbd1;
  border-radius: 0px;
	orientation: horizontal;
	children:	 [mainbox];
}

mainbox {
	children: [entry,listview,mode-switcher,message];
  spacing: 0px;
  padding: 0px 0;
}

button {
	padding: 8px 2px 8px 0ch;
}

button selected {
	background-color: #2f8aad75;
	text-color:       #EFEFEF;
}

inputbar {
	padding: 5px;
	spacing: 5px;
}

listview {
	fixed-height: 0;
  border: 0px;
  spacing: 5px;
  scrollbar: false;
  padding: 10px 10px 10px 1ch;
}

element {
	background-color: #00000000;
  border: 0;
  border-radius: 0px;
  padding: 3 0 3 8 ;
}

entry {
	expand:         false;
	text-color:     #EFEFEF;
	vertical-align: 1;
	padding:        8px;
}

element selected {
	background-color: #2ecbd1;
	text-color:       #EFEFEF;
}

mode-switcher {
	padding:        8 0 0 0;
}

textbox {
  background-color: #3ba3a8;
  padding: 8px;
	}

element-text {
	background-color:#00000000;
}

element-icon {
	background-color: #00000000;
    padding: 0 3 0 0;
}

